@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Baloo+2:wght@400..800&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarala", sans-serif;
    transition: all 0.3s ease-out;
}

:root {
    --primary-color: #002e9a; /* Dark blue */
    --secondary-color: #ffc900; /* Yellow */
    --accent-color: #0666dd; /* Royal blue */
    --highlight-color: #e98300; /* Orange */
    --background-color: #efebde; /* Light beige */
  
    --success-color: #4caf50; /* Modern green */
    --error-color: #f44336; /* Modern red */
    --text-color: #333333; /* Greyish black */
    --offwhite-color: #f9f9f9; /* Off-white */
}
a {
    all:unset;
}
main {
    padding-top: 8rem;
}

header {
    background-color: var(--accent-color);
    width: 100%;
    padding: 2rem 4rem 2rem 8rem;
    color: var(--offwhite-color);
    font-weight: 600;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#name img {
    width: 50px;
    height: 50px;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 10px;
    margin-right: 7.7vw;
    padding: 5px 10px 5px 20px;
}

#search-form:hover {
    background-color: var(--offwhite-color);
}

#query {
    width: 20vw;
    border: none;
    font-family: "Baloo", sans-serif;
    background-color: transparent;
    outline: none;
}

#search-button {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-button:hover {
    transform: scale(1.2);
    
}

#search-button:active {
    transform: scale(0.9);
    transition-duration: 100ms;
}

nav div {
    display: flex;
    gap: 50px;
}

#nav-btn {
    width: 35px;
    height: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nav-btn:active {
    transform: scale(0.9);
}

#nav-btn span {
    width: 100%;
    height: 3px;
    background-color: var(--background-color);
    border-radius: 5px;
}

#nav-menu {
    background-color: var(--accent-color);
    position: fixed;
    right: 0;
    bottom: 0;
    width: 17vw;
    height: calc(100vh - 7.3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

#nav-menu li {
    color: var(--offwhite-color);
    list-style: none;
    border: 2px solid transparent;
    border-bottom-color: black;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

#nav-menu li:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    cursor: pointer;
}