<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/logo.ico')}}">
    <title>Sections | E-Pustakalya</title>
</head>

<body>
    <header>
        <h1>E-Pustakalya</h1>
        <a href="{{ url_for('index')}}">Home</a>
        <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
        <a href="{{ url_for('book_status')}}">Books Status</a>
        <a href="{{ url_for('all_sections')}}">Sections</a>
        <a href="{{ url_for('all_users')}}">Users</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </header>
    <main>
        <h1>Sections</h1>
        <ul>
            {% for section in sections %}
            <li>
                <h3>{{section.name}}</h3>
                <p>{{section.description}}</p>
                <p><a href="/section/{{section.section_id}}">See Books</a></p>
                <p><a href="/section/{{section.section_id}}#addbook">+ Add book</a></p>
                <form action="/sections" method="POST">
                    <input type="hidden" name="section_id" value="{{section.section_id}}">
                    <button>Delete Section</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% if code %}
        <h3>Code: {{ code }}</h3>
        {% endif %}
        <form action="/sections" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="50" rows="8"></textarea>
            <button type="submit">Add Section</button>
        </form>
    </main>
</body>

</html>