<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sections | Library Management System</title>
</head>

<body>
    <h1>Sections</h1>
    <ul>
        {% for section in sections %}
        <li>
            <h3>{{section.name}}</h3>
            <p>{{section.description}}</p>
            <p><a href="/s/{{section.section_id}}">See Books</a></p>
            <p><a href="">+ Add book</a></p>
            <form action="/sections" method="POST">
                <input type="hidden" name="section_id" value="{{section.section_id}}">
                <button>Delete Section</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% if code %}
    <h3>Code: {{ code }}</h3>
    {% endif %}
    <form action="/sections" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="50" rows="8"></textarea>
        <button type="submit">Add Section</button>
    </form>
</body>

</html>