<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.title}} | Library Management System</title>
    <script src="{{url_for('static', filename='js/book.js')}}" defer></script>
</head>

<body>
    <header>
        <h1>Library Management System</h1>
    </header>
    <main>
        <h1>{{book.title}}</h1>
        <p>Author: {{book.author}}</p>
        <p>Section: {{book.section}}</p>
        <p>Filetype: {{book.filetype}}</p>
        {% if not user.is_authenticated %}
        <button onclick="showNotLoginText()">Read</button>
        <button onclick="showNotLoginText()">Buy</button>
        <p id="not-login-text" style="display:none;">Please <a href="{{url_for('login')}}">login</a> to read or buy the
            book.</p>
        {% elif not book.status %}
        <form action="/book/{{book.book_id}}/issue" method="POST">
            <select name="days" id="days">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7" selected>7</option>
            </select>
            <button type="submit">Issue</button>
        </form>
        <button onclick="showBuySection()">Buy</button>
        <form action="/book/{{book.book_id}}/buy" method="POST" id="buy-section" style="display:none;">
            <h4>Price: ₹{{book.price}}</h4>
            <p><b>Note:</b>You will be redirected to a transaction page, after successful payment, you will receive the download link.</p>
            <p>If you face any issue please contact admin at <a href="mailto:admin@lbs.com">admin@lbs.com</a></p>
            <label for="agree">
                <input type="checkbox" name="agree" id="agree" required>
                I agree to the <a href="/terms">Terms & Conditions</a>
            </label>
            <br>
            <button type="submit" onclick="showAfterBuying()">Purchase Book</button>
        </form>
        Download link: {{download_link}}
        {% if download_link %}
            {% set status = "bought" %}
            {% extends "buy_book.html" %}
        {% endif %}
        {% elif book.status == "issued" or book.status == "overdue" %}
        <p>Issued on: {{book.issued_at}}</p>
        <p>Tenure: {{book.tenure}} days</p>
        <a href="">Read book</a> <!-- !should work for admin -->
        <button onclick="toggleFeedbackForm()">Return</button>
        {% set status = "returned" %}
        {% set return_text = "Return book" %}
        {% extends "review_form.html" %}
        {% else %}
        <p>Status: {{book.status}}</p>
        {% endif %}
    </main>
</body>
<script>
</script>

</html>