<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/logo.ico')}}">
    <title>E-Pustakalya</title>
</head>

<body>
    <header>
        <div id="name"><a href="/">
                <img src="{{url_for('static', filename='assets/circle-logo.png')}}" alt="logo">
                <h1>E-Pustakalya</h1>
            </a></div>
        <form action="/search" id="search-form">
            <input type="text" name="q" id="query" placeholder="Type any Book or Author" value="{{query}}">
            <button type="submit" id="search-button">🔍</button>
        </form>
        {% if user %}
        <nav>
            <div>
                <span id="user">
                    <img src="" alt="av">
                    <span>{{ user.username }}</span>
                </span>
                <button id="nav-btn">
                    <span id="nav-line-1"></span>
                    <span id="nav-line-2"></span>
                    <span id="nav-line-3"></span>
                </button>
            </div>
            <ul id="nav-menu" class="nav-close">
                <li><a href="{{ url_for('index')}}">Home</a></li>

                {% if user.role == "admin" %}
                <li><a href="{{ url_for('admin_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('book_status')}}">Books Status</a></li>
                <li><a href="{{ url_for('all_sections')}}">Sections</a></li>
                <li><a href="{{ url_for('all_users')}}">Users</a></li>
                {% else %}
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
        {% else %}
        <button id="login-btn"><a href="{{ url_for('login') }}">Login</a></button>
        {% endif %}
    </header>
    <main>
        <div class="sections">
            <h2>Sections</h2>
            <ul>
                {% for section in sections %}
                <li><a href="/search?q={{section.name}}">{{section.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <ul>
            {% for book_id in books %}
            {% set book = books[book_id] %}
            <li class="books">
                <h3>{{book["title"]}}</h3>
                <p>Author: {{book["author"]}}</p>
                <p>Section: {{book["section"]}}</p>
                {% if book.filetype == "pdf" %}
                    {% set thumbnail = book.filename ~ ".jpg"%}
                {% else %}
                    {% set thumbnail = "epub.jpg"%}
                {% endif %}
                <figure>
                    <img src="{{ url_for('static', filename='thumbnails/' ~ thumbnail) }}" alt="">
                </figure>
                <p>Filetype: {{book["filetype"]}}</p>
                <button><a href="/book/{{book_id}}">View Book</a></button>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>

</html>