<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body>
    {% if user %}
        <h1>Welcome, {{ user.username }}</h1>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <h1>Welcome, Guest</h1>
        <a href="{{ url_for('login') }}">Sign in</a>
        <a href="{{ url_for('register') }}">Sign Up</a>
    {% endif %}
    <h2>Books:</h2>
    <ul>
        {% for book_id in books %}
            {% set book = books[book_id] %}
            <li>
                <h3>{{book["title"]}}</h3>
                <p>Author: {{book["author"]}}</p>
                <p>Section: {{book["section"]}}</p>
                <p>Filetype: {{book["filetype"]}}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>