<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/logo.ico')}}">
    <title>Sign In | E-Pustakalya</title>
</head>

<body>
    <header>
        <div id="name"><a href="/">
                <img src="{{url_for('static', filename='assets/circle-logo.png')}}" alt="logo">
                <h1>E-Pustakalya</h1>
            </a></div>
    </header>
    <main>
        <h1>Sign In</h1>
        {% if user_not_found %}
        <p>User not found with username: "{{ username }}". Please <a href="{{ url_for('register') }}">Sign Up</a> first.
        </p>
        {% elif invalid_credentials %}
        <p style="color: red;">Invalid username or password. Please try again.</p>
        {% endif %}
        <form action="{{ url_for('login') }}" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign In</button>
        </form>
        <p>New User? Please <a href="{{ url_for('register') }}">Sign Up</a> yourself first.</p>
    </main>
</body>

</html>