<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/logo.ico')}}">
    <title>Sign In | E-Pustakalya</title>
</head>

<body>
    <header>
        <div id="name"><a href="/">
                <img src="{{url_for('static', filename='assets/circle-logo.png')}}" alt="logo">
                <h1>E-Pustakalya</h1>
            </a></div>
    </header>
    <main>
        <div id="login-container">
            <h1 id="heading">Sign In</h1>
            {% if user_not_found %}
            <p class="invalid-creds">User not found with username: "{{ username }}". Please <a href="{{ url_for('register') }}">Sign Up</a> first.
            </p>
            {% elif invalid_credentials %}
            <p class="invalid-creds">Invalid username or password. Please try again.</p>
            {% endif %}
            <form action="{{ url_for('login') }}" method="POST" id="login-form">
                <label for="username">
                    <span>Username</span>
                    <input type="text" id="username" name="username" placeholder="user.name" required>
                </label> <br>
                <label for="password">
                    <span>Password</span>
                    <input type="password" id="password" name="password" placeholder="shhh!" required>
                </label> <br>
                <button type="submit">Sign In</button>
            </form>
            <p id="new-user">New User? Please <a href="{{ url_for('register') }}">Sign Up</a> yourself first.</p>
        </div>
    </main>
</body>

</html>