<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/logo.ico')}}">
    <title>My Profile | E-Pustakalya</title>
</head>

<body>
    <header>
        <h1>E-Pustakalya</h1>
        {% if user %}
        <a href="{{ url_for('index')}}">Home</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <h1>Welcome, Guest</h1>
        <a href="{{ url_for('login') }}">Sign in</a>
        <a href="{{ url_for('register') }}">Sign Up</a>
        {% endif %}
        <form action="/search">
            <input type="text" name="q" id="query" placeholder="Type any Book or Author" value="{{query}}">
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        <h2>{{user.username}}'s Profile</h2>
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        <h2>Books</h2>
        <ul>
            {% for book in books %}
            <li>
                <h3>{{book["title"]}}</h3>
                <p>Author: {{book["author"]}}</p>
                <p>Section: {{book["section"]}}</p>
                <p>Filetype: {{book["filetype"]}}</p>
                <p>Issued on: {{book["issued_at"]}}</p>
                {% if book["status"] in ("issued", "overdue") %}
                <p>Tenure: {{book["tenure"]}}</p>
                {% elif book["status"] == "returned" %}
                <p>Returned on {{book["returned_at"]}}</p>
                <p>Rating: {{book["rating"]}} out of 5</p>
                {% if book["review"] %}
                <p>Your review: "<em>{{book["review"]}}</em>"</p>
                {% endif %}
                {% else %}
                <p>Approval Pending for Issuance</p>
                {% endif %}
                <button><a href="/book/{{book['book_id']}}">View book</a></button>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>

</html>