<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/logo.ico')}}">
    <title>{{query}} - Search Results | E-Pustakalya</title>
</head>

<body>
    <header>
        <h1>E-Pustakalya</h1>
        {% if user %}
        <h1>Welcome, {{ user.username }}</h1>
        {% if user.role == "admin" %}
        <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
        <a href="{{ url_for('book_status')}}">Books Status</a>
        <a href="{{ url_for('all_sections')}}">Sections</a>
        <a href="{{ url_for('all_users')}}">Users</a>
        {% else %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <h1>Welcome, Guest</h1>
        <a href="{{ url_for('login') }}">Sign in</a>
        <a href="{{ url_for('register') }}">Sign Up</a>
        {% endif %}
        <form action="/search">
            <input type="text" name="q" id="query" placeholder="Type any Book or Author" value="{{query}}">
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        {% if not result %}
        <p>No results found for "{{query}}"</p>
        {% else %}
        <h2>Search Results:</h2>
        <ul>
            {% for section in result %}
            {% set books = result[section] %}
            <li>
                <h3>{{section}}</h3>
                {% for book in books %}
                <h4>{{book.title}}</h4>
                <p>Author: {{book.author}}</p>
                <p>Filetype: {{book.filetype}}</p>
                <button><a href="/book/{{book.book_id}}">View Book</a></button>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </main>
</body>

</html>