<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{query}} | Library Management System</title>
</head>

<body>
    <header>
        <h1>Library Management System</h1>
        {% if user %}
        <h1>Welcome, {{ user.username }}</h1>
        {% if user.role == "admin" %}
        <a href="{{ url_for('admin_dashboard') }}">Admin Panel</a>
        <a href="{{ url_for('book_status')}}">Books Status</a>
        <a href="{{ url_for('all_sections')}}">Sections</a>
        <a href="{{ url_for('all_users')}}">Users</a>
        {% else %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <h1>Welcome, Guest</h1>
        <a href="{{ url_for('login') }}">Sign in</a>
        <a href="{{ url_for('register') }}">Sign Up</a>
        {% endif %}
        <form action="/search">
            <input type="text" name="q" id="query" placeholder="Type any Book or Author" value="{{query}}">
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        {% if not result %}
        <p>No results found for "{{query}}"</p>
        {% else %}
        <h2>Search Results:</h2>
        <h3>Books:</h3>
        <ul>
            {% for book_id in result %}
            {% set book = result[book_id] %}
            <li>
                <h3>{{book["title"]}}</h3>
                <p>Author: {{book["author"]}}</p>
                <p>Section: {{book["section"]}}</p>
                <p>Filetype: {{book["filetype"]}}</p>
                <button><a href="/book/{{book_id}}">View Book</a></button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </main>
</body>

</html>