<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/logo.ico')}}">
    <title>@{{user.username}} | E-Pustakalya</title>
</head>

<body>
    <header>
        <div id="name"><a href="/">
                <img src="{{url_for('static', filename='assets/circle-logo.png')}}" alt="logo">
                <h1>E-Pustakalya</h1>
            </a></div>
    </header>
    <main>
        <h1>@{{user.username}}'s Profile</h1>
        <p>{{user.name}}</p>

        <h2>Books Read</h2>
        <ul>
            {% for book in books %}
            <li>
                {% if book["status"] == "returned" %}
                <h3>{{book["title"]}}</h3>
                <p>Author: {{book["author"]}}</p>
                <p>Section: {{book["section"]}}</p>
                {% if book.filetype == "pdf" %}
                {% set thumbnail = book.filename ~ ".jpg"%}
                {% else %}
                {% set thumbnail = "epub.jpg"%}
                {% endif %}
                <figure>
                    <img src="{{ url_for('static', filename='thumbnails/' ~ thumbnail) }}" alt="">
                </figure>
                <p>Filetype: {{book["filetype"]}}</p>
                {% endif %}
                <button><a href="/book/{{book['book_id']}}">View book</a></button>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>

</html>